/Debug
/Release
/Backup
/acc.ncb
/acc.opt
/acc.plg
/acc.exe
/acc.suo
/acc.sdf
/acc.vcproj
/acc.vcproj.Christoph-PC.Christoph.user
/acc.vcproj.GlaDoS.Grin.user
/acc.vcxproj.filters
/acc.vcxproj.user
/acc.v12.suo
/UpgradeLog.htm
/l
/log
/t
/zdefs.acs.orig
